{{!-- Post submit Success flash message --}}
{{#if success_message}}
<div class="alert alert-success">
    {{success_message}}
</div>
{{/if}}

{{!-- Delete Success flash message --}}
{{#if delete_message}}
<div class="alert alert-success">
    {{delete_message}}
</div>
{{/if}}

{{!-- Edit Success flash message --}}
{{#if edit_message}}
<div class="alert alert-success">
    {{edit_message}}
</div>
{{/if}}